<html>
  <head>
    <title><%- title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik:300,300i,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main.css" rel="stylesheet">
  </head>
  <body class="loading">
    <%- partial("_shared/contact.form") %>
    <%- partial("_shared/nav") %>
    <%- partial("_shared/header") %>

    <main>
      <%- partial("_shared/nav.sub") %>
      <%- partial("_shared/marquee") %>
      <%- yield %>
    </main>
    <%- partial("_shared/footer") %>
    <script>
      document.onreadystatechange = function () {
        if(document.readyState === 'complete') {
          document.getElementsByTagName('body')[0].classList.remove('loading');
        }
      }
      var allLinks = document.querySelectorAll('a[href]');
    </script>
  </body>
</html>