<div class="container">
  <article class="col-lg-8 col-xl-8">
    <%- partial("/_content/definition") %>
  </article>
</div>

<div class="container">
  <article class="col-lg-8 col-xl-8">
    <%- partial("/_content/intro") %>
  </article>

  <article class="col-lg-8 col-xl-8">
    <%- partial("/_content/early_years") %>
    <%- partial("/_content/higher_education") %>
    <%- partial("/_content/social") %>
  </article>
</div>

<style>
  .logo {
    * {
      fill: white;
    }
  }

  .marquee {
    background-color: #172C5D;
  }

  ul h1 {
    color: #B23E43;
    font-size:10vmin;
    margin:0px;
    line-height: 9vmin;
  }
  dl {
    color:#B23E43;
    font-size: 2vmax;
  }
dt {
    font-size: 3vmax;
    opacity:.25;
  }
  dd {
    padding-bottom: 2vmax;
    margin:0px;
    opacity:.75;
  }

  ul {
    list-style:none;
    overflow:hidden;
    text-align:center;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
    padding: 3vmin 0;
    margin-bottom: 10vmin;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  ul > li:nth-child(even) {
    border-left: 1px solid lightgray;
  }

  ul > li:nth-child(1), ul > li:nth-child(2) {
    border-bottom: 1px solid lightgray;
  }

  ul li { width: 50%; margin:0; padding: 40px; box-sizing:border-box; }

  ul {
    font-weight:bold;
    font-size: 9px;
    text-transform:uppercase;
    margin: 0px 30px;
  }

  .marquee h1{
    color:white;
  }
</style>